@font-face {
    font-family: digital;
    src: url(digital.ttf);
  }

body{
    background-color:black;
    display:flex;
    align-items: center;
    align-content: center;
    
    
}

.time{
background-color:gold;
height:100px;
width:100px;
border-radius:10px;
margin-top: 250px;
margin-left: 250px;
text-align: center;
align-items: center;
font-size: 95px;
font-family: digital;
filter:blur(1px);
color: blue;


}